<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Tire uma captura de tela de uma área de trabalho remota.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Tirando uma captura de tela</title>

  <p>Você pode tirar apenas capturas de tela da área de trabalho que você está conectado, ao usar a ferramenta fornecida pelo aplicativo <app>Visualizador de área de trabalho remota</app>.</p>

  <steps>
    <item>
      <p>Selecione a opção <guiseq><gui style="menu">Remoto</gui> <gui style="menuitem">Capturar imagem da tela</gui></guiseq>, ou clique no botão <gui>Capturar imagem da tela</gui> na barra de ferramentas.</p>
    </item>
    <item>
      <p>No campo <gui>Nome</gui>, digite o nome de arquivo que você deseja para salvar a imagem da tela.</p>
    </item>
    <item>
      <p>A partir da lista suspensa <gui>Salvar na pasta</gui>, selecione a pasta onde você deseja que seja salva a captura de tela. Você também pode clicar em <gui>Navegar por outras pastas</gui> para selecionar alguma que não esteja listada.</p>
    </item>
    <item>
      <p>Clique em <gui style="button">Salvar</gui> para que a imagem de captura de tela seja salva.</p>
    </item>
  </steps>

</page>
