<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="fr">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Afficher le bureau distant en mode plein écran.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Mode plein écran</title>

  <p>Le mode plein écran est utile pour afficher un bureau de même taille ou plus grand que le vôtre.</p>

  <steps>
    <item>
      <p>Choisissez <guiseq><gui style="menu">Affichage</gui><gui style="menuitem">Plein écran</gui></guiseq> ou cliquez sur le bouton correspondant de la barre d'outils pour déployer la zone d'affichage en mode plein écran.</p>
    </item>
  </steps>

  <note>
    <p>En mode plein écran, déplacez le pointeur de la souris vers le bord supérieur de l'écran pour faire apparaître une barre d'outils cachée qui possède les boutons <gui style="button">Quitter le plein écran</gui>, <gui style="button">Se déconnecter</gui> et d'autres options.</p>
  </note>

</page>
