<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="fr">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Introduction au <app>Visionneur de bureau distant</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Introduction</title>

  <p>Le <app>Visionneur de bureau distant</app> est un programme GNOME qui utilise VNC (Virtual Network Computing), et d'autres protocoles, pour prendre le contrôle à distance d'un autre ordinateur ou simplement en afficher le bureau.</p>

  <p>Le <app>Visionneur de bureau distant</app> offre les fonctionnalités suivantes :</p>
  <list>
    <item><p>connexion à plusieurs machines en même temps,</p></item>
    <item><p>enregistrement des connexions récentes et possibilité de créer des signets pour elles,</p></item>
    <item><p>parcours du réseau local à la recherche d'ordinateurs.</p></item>
  </list>

  <figure>
    <title>Visionneur de bureau distant en l'action</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Visionneur de bureau distant sous GNOME 3, connecté à une machine sous GNOME 2</p>
    </media>
  </figure>

</page>
