<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="sv">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>

    <desc>Visa fjärrskrivbordet i helskärmsläge.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Helskärmsläge</title>

  <p>Helskärmsläge kan vara användbart om du visar ett skrivbord som har samma storlek eller större än ditt.</p>

  <steps>
    <item>
      <p>Välj <guiseq><gui style="menu">Visa</gui> <gui style="menuitem">Helskärm</gui></guiseq>, eller tryck på motsvarande knapp i verktygsfältet, för att visa skärmområdet i helskärmsläge.</p>
    </item>
  </steps>

  <note>
    <p>När du är i helskärmsläge, flytta musen överst i mitten av skärmen för att visa ett gömt verktygsfält som bland annat har knappar för <gui style="button">Lämna helskärmsläge</gui> och <gui style="button">Koppla från</gui>.</p>
  </note>

</page>
