<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="sv">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Introduktion till <app>Fjärrskrivbordsvisare</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Introduktion</title>

  <p><app>Fjärrskrivbordsvisare</app> är ett program för att visa fjärrskrivbord för GNOME via Virtual Network Computing (VNC) och andra protokoll. Det kan användas för att kontrollera och interagera med en annan dator eller bara för att visa skrivbordet.</p>

  <p><app>Fjärrskrivbordsvisare</app> tillhandahåller följande funktioner:</p>
  <list>
    <item><p>anslut till flera maskiner på samma gång</p></item>
    <item><p>spara senaste anslutningar och bokmärk dem</p></item>
    <item><p>bläddra efter maskiner på det lokala nätverket</p></item>
  </list>

  <figure>
    <title>Fjärrskrivbordsvisare i arbete</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Fjärrskrivbordsvisare kör i GNOME 3, ansluten till en maskin som kör GNOME 2</p>
    </media>
  </figure>

</page>
