<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="lv">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Attālinātās darbvirsmas skatīšana pilnekrāna režīmā.</desc>
  </info>

  <title>Pilnekrāna režīms</title>

  <p>Pilnekrāna režīms var būt noderīgs skatoties darbvirsmu, kas ir izmēros tāda pati vai lielāka kā jūsu.</p>

  <steps>
    <item>
      <p>Izvēlieties <guiseq><gui style="menu">Skats</gui><gui style="menuitem">Pilnekrāns</gui></guiseq>, vai arī spiediet atbilstošo rīkjoslas pogu, lai attēlošanas laukumu izplestu pilnekrāna režīmā.</p>
    </item>
  </steps>

  <note>
    <p>Esot pilnekrāna režīmā pārvietojiet kursoru uz ekrāna augšējās malas centru, lai parādītu slēpto rīkjoslu, kurā ir pieejama poga <gui style="button">Pamest pilnekrānu</gui>,  kā arī <gui style="button">Atvienoties</gui> un citas pogas.</p>
  </note>

</page>
