<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="lv">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Attālinātās darbvirsmas pārlūks palīdzība</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Uzziniet, kā attālināti savienoties ar citām darbvirsmām.</desc>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/> Attālinātās darbvirsmas pārlūks</title>

  <section id="connections" style="2column">
    <title>Savienošanās ar citiem datoriem, izmantojot VNC</title>
  </section>

  <section id="options" style="2column">
    <title>Iespējas un opcijas</title>
  </section>

</page>
