<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="lv">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ievads <app>Attālinātās darbvirsmas pārlūkā</app>.</desc>
  </info>

  <title>Ievads</title>

  <p><app>Attālināto darbvirsmas pārlūks</app> ir attālinātās darbvirsmas skatītāja lietotne GNOME darbvirsmai, lai piekļūtu citiem datoriem, izmantojot Virtual Network Computing (VNC) un citus protokolus. To var izmanto, lai attālināti kontrolētu un mijiedarbotos ar citiem datoriem, vai vienkārši skatīt darbvirsmu.</p>

  <p><app>Attālinātās darbvirsmas pārlūks</app> nodrošina sekojošas iespējas:</p>
  <list>
    <item><p>savienoties ar vairākiem datoriem vienlaicīgi</p></item>
    <item><p>glabā nesenos savienojumus un atzīmē kā grāmatzīmes</p></item>
    <item><p>pārlūkot lokālo tīklu, meklējot citus datorus</p></item>
  </list>

  <figure>
    <title>Attālinātās darbvirsmas pārlūks darbībā</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Attālinātās darbvirsmas pārlūks darbojas GNOME 3 vidē, savienots ar datoru, kuram ir GNOME 2</p>
    </media>
  </figure>

</page>
