<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="lv">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Uzņemt attālinātās darbvirsmas ekrānuzņēmumu.</desc>
  </info>

  <title>Uzņemt ekrānuzņēmumu</title>

  <p>Jūs varat uzņemt ekrānattēlus darbvirsmām, ar kurām esat savienojies, izmantojot <app>Attālinātās darbvirsmas pārlūka</app> rīku.</p>

  <steps>
    <item>
      <p>Izvēlieties <guiseq><gui style="menu">Attālināts</gui><gui style="menuitem">Uzņemt ekrānuzņēmumu</gui></guiseq>, vai arī spiest <gui>Uzņemt ekrānuzņēmumu</gui> pogu rīkjoslā.</p>
    </item>
    <item>
      <p><gui>Nosaukums</gui> laukā ievadiet datnes nosaukumu, ar kādu jūs vēlētos saglabāt ekrānuzņēmumu.</p>
    </item>
    <item>
      <p>No <gui>Saglabāt mapē</gui> izritināmā saraksta izvēlieties mapi, kurā jūs vēlētos, lai ekrānuzņēmums tiktu saglabāts. Jūs arī var spiest <gui>Browse for other folder</gui>, lai izvēlētos kādu citu mapi, kas nav izritināmajā sarakstā.</p>
    </item>
    <item>
      <p>Spiediet <gui style="button">Saglabāt</gui>, lai saglabātu ekrānuzņēmumu.</p>
    </item>
  </steps>

</page>
