<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="el">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Εισαγωγή στο πρόγραμμα προβολής απομακρυσμένης επιφάνειας εργασίας <app>Vinagre</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bασίλης Τσιβίκης</mal:name>
      <mal:email>vasitsiv.dev@gmail.com</mal:email>
      <mal:years>2011 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Εισαγωγή</title>

  <p>Το <app>Vinagre</app> είναι μια εφαρμογή προβολής απομακρυσμένης επιφάνειας εργασίας για το GNOME η οποία προσπελάζει άλλα μηχανήματα, χρησιμοποιώντας εικονικό υπολογιστικό δίκτυο (VNC) και άλλα πρωτόκολλα. Μπορεί να χρησιμοποιηθεί για έλεγχο και αλληλεπίδραση με έναν άλλο υπολογιστή ή, απλά, για προβολή της επιφάνειας εργασίας.</p>

  <p>Το <app>Vinagre</app> παρέχει τα εξής χαρακτηριστικά:</p>
  <list>
    <item><p>ταυτόχρονη σύνδεση σε πολλά μηχανήματα</p></item>
    <item><p>αποθήκευση πρόσφατων συνδέσεων και επισήμανση τους</p></item>
    <item><p>περιήγηση στο τοπικό δίκτυο για άλλα μηχανήματα</p></item>
  </list>

  <figure>
    <title>Το Vinagre εν δράσει</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Το Vinagre τρέχει σε GNOME 3, συνδεδεμένο με ένα μηχάνημα που τρέχει σε GNOME 2</p>
    </media>
  </figure>

</page>
