<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="connect-file" xml:lang="id">

  <info>
    <link type="guide" xref="index#connections"/>
    <link type="seealso" xref="connect"/>
    <title type="sort">2</title>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Memakai berkas koneksi jarak jauh untuk menyambung ke mesin remote.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016.</mal:years>
    </mal:credit>
  </info>

  <title>Menyambung memakai berkas <file>.vnc</file></title>

  <p>Beberapa host mendistribusikan <em>berkas koneksi jarak jauh</em>, yang umumnya diakhiri dengan <file>.vnc</file>, sebagai ganti memakai alamat dan port host.</p>

  <steps>
    <item>
      <p>Pilih <guiseq><gui style="menu">Remote</gui> <gui style="menuitem">Buka</gui></guiseq>.</p>
    </item>
    <item>
      <p>Pilih berkas yang ingin Anda buka.</p>
    </item>
    <item>
      <p>Klik tombol <gui style="button">Buka</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Anda juga bisa membuka berkas koneksi jarak jauh dari <app>Berkas</app>.</p>
  </note>

</page>
