<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="hu">

  <info>
    <!-- The text title is used on the help.gnome.org -->
    <title type="text">Távoli asztalok megjelenítése súgó</title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ismerje meg, hogyan kapcsolódhat más számítógépek asztali környezeteihez.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>n0m4dm4n</mal:name>
      <mal:email>n0m4dm4n at gmail dot com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/preferences-desktop-remote-desktop.png"/> Távoli asztalok megjelenítése</title>

  <section id="connections" style="2column">
    <title>Kapcsolódás más számítógépekhez VNC használatával</title>
  </section>

  <section id="options" style="2column">
    <title>Funkciók és beállítások</title>
  </section>

</page>
