<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="gl">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

    <desc>Desactivar interacción co escritorio remoto</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

  <title>Modo de só visualización</title>

  <p>Algúns protocolos permítenlle activar o modo <gui>Só visualización</gui>. Este modo permítelle desactivar toda interacción co escritorio remoto.</p>
  <p>Seleccione <guiseq><gui style="menu">Ver</gui><gui style="menuitem">Só ver</gui></guiseq> ou prema no botón da barra de ferramentas correspondente para activar este modo.</p>

</page>
