<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="sl">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons - deljenje pod enakimi pogoji 3.0</p>
    </license>

    <desc>Raztegne oddaljeno namizje tako, da se prilega področju zaslona.</desc>
  </info>

  <title>Raztegnitev oddaljenega namizja</title>

  <p>Nekateri protokoli imajo možnost raztegovanja oddaljenega namizja tako, da se prilega področju zaslona.</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Scaling</gui></guiseq>, or click the
      <gui>Scaling</gui> toolbar button.</p>
    </item>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Keep Aspect Ratio</gui></guiseq> if you want to
      constrain the aspect ratio of the remote desktop inside the display area,
      or deselect the option to stretch the remote desktop to fill the
      available space.</p>
      <note>
        <p>To možnost lahko preklopite le, če je bilo <gui>Raztegovanje</gui> že omogočeno.</p>
      </note>
    </item>
  </steps>

</page>
