<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="es">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>

    <desc>Desactivar la interacción con el escritorio remoto.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  </info>

  <title>Modo de sólo visión</title>

  <p>Algunos protocolos le permiten activar un modo <gui>Sólo visión</gui>. Este modo le permite bloquear toda interacción en el escritorio remoto.</p>
  <p>Para activar este modo, elija <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Sólo visión</gui></guiseq> o pulse en el correspondiente botón en la barra de herramientas.</p>

</page>
