<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>知识共享相同方式共享 3.0</p>
    </license>

    <desc>以全屏模式查看远程桌面。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>全屏模式</title>

  <p>如果查看与您尺寸相同或更大尺寸的桌面时全屏模式会有用处。</p>

  <steps>
    <item>
      <p>选择<guiseq><gui style="menu">查看</gui><gui style="menuitem">全屏</gui></guiseq>，或按下相应的工具栏按钮，以全屏模式查看显示区域。</p>
    </item>
  </steps>

  <note>
    <p>当在全屏模式下，将鼠标移动到屏幕的顶部中间位置可显示一个隐藏的工具栏，该工具栏有<gui style="button">离开全屏</gui>按钮、<gui style="button">断开</gui>和其他选项。</p>
  </note>

</page>
