<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>抓取远程桌面的屏幕截图。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>抓取屏幕截图</title>

  <p>You can take screenshots of only the desktop that you are connected to by
  using the tool provided by <app>Remote Desktop Viewer</app>.</p>

  <steps>
    <item>
      <p>选择<guiseq><gui style="menu">远程</gui> <gui style="menuitem">屏幕截图</gui></guiseq>，或点击工具栏上的<gui>屏幕截图</gui>按钮。</p>
    </item>
    <item>
      <p>在<gui>名称</gui>字段，输入屏幕截图保存的名称。</p>
    </item>
    <item>
      <p>从<gui>保存到文件夹</gui>下拉列表中，选择屏幕截图要保存的文件夹。您也可以点击<gui>浏览其他文件夹</gui>选择未在下拉列表中的文件夹。</p>
    </item>
    <item>
      <p>点击<gui style="button">保存</gui>以保存屏幕截图。</p>
    </item>
  </steps>

</page>
