<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="ru">

  <info>
    <link type="guide" xref="index"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>
    <revision pkgversion="3.16" date="2015-03-02" status="final"/>

    <credit type="author">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Introduction to <app>Remote Desktop Viewer</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Введение</title>

  <p><app>Remote Desktop Viewer</app> is a remote desktop viewer application
  for GNOME for accessing other machines using Virtual Network Computing (VNC)
  and other protocols. It can be used to control and interact with another
  computer or to just view the desktop.</p>

  <p><app>Remote Desktop Viewer</app> provides the following features:</p>
  <list>
    <item><p>подключение к нескольким компьютерам одновременно</p></item>
    <item><p>store recent connections and bookmark them</p></item>
    <item><p>browse the local network for other machines</p></item>
  </list>

  <figure>
    <title>Remote Desktop Viewer in action</title>
    <media type="image" mime="image/png" src="figures/vinagre-connected-3-16.png">
      <p>Remote Desktop Viewer running in GNOME 3, connected to a machine
      running GNOME 2</p>
    </media>
  </figure>

</page>
