<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="eu">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Disable the sending of keyboard shortcuts to the remote
    machine.</desc>
  </info>

  <title>Keyboard shortcuts</title>

  <p>You can enable or disable keyboard shortcuts by selecting
  <guiseq><gui style="menu">View</gui>
  <gui style="menuitem">Keyboard shortcuts</gui></guiseq>.</p>

  <p>Enabling this option allows the use of keyboard shortcuts (like
  <keyseq><key>Ctrl</key><key>N</key></keyseq>), menu accelerators (such as
  <keyseq><key>Alt</key><key>M</key></keyseq>) and mnemonics, with <app>Remote
  Desktop Viewer</app>. This means that <app>Remote Desktop Viewer</app> will
  catch those key combinations instead of sending them to the remote machine.
  This option is disabled by default because most of the time, you will be
  interacting with the computer to which you are connected.</p>

  <note>
    <p>When the <gui>Keyboard shortcuts</gui> option is disabled,
    <keyseq><key>Ctrl</key><key>Alt</key><key>Delete</key></keyseq> is the
    only key combination which will not be sent to the remote desktop. Choose
    <guiseq><gui style="menu">Remote</gui>
    <gui style="menuitem">Send Ctrl-Alt-Delete</gui></guiseq>, or use the
    corresponding toolbar button, to send this key combination.</p>
  </note>

</page>
