<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="take-screenshot" xml:lang="eu">

  <info>
    <link type="guide" xref="index#options"/>

    <revision pkgversion="3.8" date="2013-03-23" status="final"/>
    <revision pkgversion="3.12" date="2014-03-05" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Take a screenshot of a remote desktop.</desc>
  </info>

  <title>Take a screenshot</title>

  <p>You can take screenshots of only the desktop that you are connected to by
  using the tool provided by <app>Remote Desktop Viewer</app>.</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">Remote</gui>
      <gui style="menuitem">Take screenshot</gui></guiseq>, or click the
      <gui>Take Screenshot</gui> button in the toolbar.</p>
    </item>
    <item>
      <p>In the <gui>Name</gui> field, enter the filename that you want the
      screenshot to be saved under.</p>
    </item>
    <item>
      <p>From the <gui>Save in folder</gui> drop down list, select the folder
      that you want the screenshot to be saved in. You can also click
      <gui>Browse for other folder</gui> to select one which is not in the drop
      down list.</p>
    </item>
    <item>
      <p>Click <gui style="button">Save</gui> to save the screenshot.</p>
    </item>
  </steps>

</page>
