<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="fullscreen" xml:lang="fa">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>میزکار دوردست را در حالت تمام‌صفحه مشاهده کنید.</desc>
  </info>

  <title>حالت تمام‌صفحه</title>

  <p>حالت تمام‌صفحه زمانی می‌تواند مفید باشد که در حال نمایش میزکاری هم‌اندازه یا بزرگتر از میزکار خود باشید.</p>

  <steps>
    <item>
      <p>Choose <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Fullscreen</gui></guiseq>, or press the
      corresponding toolbar button, to view the display area in fullscreen
      mode.</p>
    </item>
  </steps>

  <note>
    <p>While in fullscreen mode, move the mouse to the top-center of the screen
    to display a hidden toolbar, which has
    <gui style="button">Leave Fullscreen</gui>,
    <gui style="button">Disconnect</gui> and other buttons.</p>
  </note>

</page>
