<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="scaling" xml:lang="fa">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>تغییر اندازه میزکار دوردست برای مطابقت با ناحیه میزکار.</desc>
  </info>

  <title>تغییر اندازه میزکار دوردست</title>

  <p>Some protocols have an option to scale the remote desktop to fit your
  display area.</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Scaling</gui></guiseq>, or click the
      <gui>Scaling</gui> toolbar button.</p>
    </item>
    <item>
      <p>Select <guiseq><gui style="menu">View</gui>
      <gui style="menuitem">Keep Aspect Ratio</gui></guiseq> if you want to
      constrain the aspect ratio of the remote desktop inside the display area,
      or deselect the option to stretch the remote desktop to fill the
      available space.</p>
      <note>
        <p>This option can be toggled only if <gui>Scaling</gui> has already
        been enabled.</p>
      </note>
    </item>
  </steps>

</page>
